.card__container {
  margin: 23px 80px 0 0;
  width: 320px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card__container:last-of-type {
  margin:23px 0 0;
}

@media screen and (max-width: 1120px) {
  .card__container {
    margin: 23px 80px 0 0;
  }

  .card__container:first-of-type {
    margin: 23px 80px 0;
  }
}

@media screen and (max-width: 1024px) {
  .card__container {
    margin: 23px 0 0;
  }

  .card__container:first-of-type {
    margin: 23px 80px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .card__container {
    margin: 23px 0 0;
  }

  .card__container:first-of-type {
    margin: 23px 0 0;
  }
}