@import url('./title/title.css');
@import url('./cards/cards.css');
@import url('./cards/__container/card__container.css');
@import url('./card/__frame/card__frame.css');
@import url('./card/__bg/card__bg.css');
@import url('./card/card.css');
@import url('./card/__text/card__text.css');
@import url('./card/__product/card__product.css');
@import url('./card/__title/card__title.css');
@import url('./card/__subtitle/card__subtitle.css');
@import url('./card/__description/card__description.css');
@import url('./card/__weight/card__weight.css');
@import url('./card/__weight-value/card__weight-value.css');
@import url('./card/__weight-measure/card__weight-measure.css');
@import url('./card/__cat/card__cat.css');
@import url('./card/__note-container/card__note-container.css');
@import url('./card/__note/card__note.css');
@import url('./element-invisible.css');

.page {
  width: 1280px;
  height: 680px;
  margin: auto;
  background-image: url('../images/background.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}