.card {
  margin: 0;
  width: 312px;
  height: 472px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, transparent 29px, #ffffff 0);
}
