.card__frame {
  margin: 0 0 17px;
  width: 320px;
  height: 480px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
