@import url('./title/title.css');
@import url('./cards/cards.css');
@import url('./card/__container/card__container.css');
@import url('./card/__frame/card__frame.css');
@import url('./card/card.css');
@import url('./card/__text/card__text.css');
@import url('./card/__product/card__product.css');
@import url('./card/__title/card__title.css');
@import url('./card/__subtitle/card__subtitle.css');
@import url('./card/__description/card__description.css');
@import url('./card/__weight/card__weight.css');
@import url('./card/__weight-value/card__weight-value.css');
@import url('./card/__weight-measure/card__weight-measure.css');
@import url('./card/__cat/card__cat.css');
@import url('./card/__note-container/card__note-container.css');
@import url('./card/__note/card__note.css');
@import url('./card/__note-link/card__note-link.css');
@import url('./card/__note-dot/card__note-dot.css');
@import url('./element-invisible.css');
@import url('./element-disabled.css');
@import url('./text-disabled.css');
@import url('./text-selected.css');

.page {
  margin: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-image: url('../images/background.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1120px) {
  .page {
    height: 100%;
    justify-content: flex-start;
  }
}