.card {
  margin: 0;
  width: 312px;
  height: 472px;
  background-color: #ffffff;
  border-radius: 10px;
  clip-path: polygon(14% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 9%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
